@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.main {
  display: flex;
  height: 100dvh;
  width: auto;
  background-image: url("./login-bg.png");
  background-size: cover;
  background-position: center;
}

.login-card {
  display: flex;
  background-color: hsla(197, 47%, 67%, 0.5);
  justify-content: space-between;
  margin: auto;
  height: 180px;
  width: 600px;
  border-radius: 10px;
  gap: 20px;
}

.login,
.register {
  width: 50%;
}

.element-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.input-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin: 10px 5px;
}

.input-container h4 {
  width: 80px;
}

.element-container button {
  align-self: center;
  font-weight: 600;
  font-size: 13px;
  width: 5.5em;
  height: 2.5em;
  border-radius: 10px;
  margin: 10px;
  background-color: antiquewhite;
}

.element-container p {
  align-self: center;
}

.element-container p:hover {
  cursor: pointer;
}

.cover {
  position: absolute;
  width: 300px;
  height: 180px;
  background-color: rgb(206, 250, 235);
  border-radius: 10px;
  transition: transform ease 1s;
}

.cover.active {
  transform: translate(300px);
}
